In [1]:
import pandas as pd
import numpy as np
from icupy import Standary

In [2]:
dset = pd.read_csv('DATASETS/ICRDOBA70.csv')
dset

,hora,temperature,dew,Humedad,VV,presion,precip.rate.,precip.acum,uv,solar,dv,datetime,elevation,lat,lon
0,0.0,24.03,15.93,60.42,7.66,981.94,0.0,0.0,0.0,0.0,174.38,2019-03-01 00:00:00,435.0,64.17,31.4
1,1.0,23.75,15.56,60.25,7.82,981.94,0.0,0.0,0.0,0.0,191.25,2019-03-01 01:02:00,435.0,64.17,31.4
2,2.0,23.33,15.56,61.82,7.68,981.94,0.0,0.0,0.0,0.0,121.70,2019-03-01 02:04:00,435.0,64.17,31.4
3,3.0,23.33,16.02,64.25,7.51,981.94,0.0,0.0,0.0,0.0,90.00,2019-03-01 03:01:00,435.0,64.17,31.4
4,4.0,22.93,16.16,65.73,6.33,981.94,0.0,0.0,0.0,0.0,74.66,2019-03-01 04:03:00,435.0,64.17,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17369,19.0,20.14,12.92,63.58,1.29,1012.98,0.0,0.0,0.0,0.0,82.50,2021-04-01 19:04:00,435.0,64.17,31.4
17370,20.0,20.00,12.78,63.50,1.24,1012.98,0.0,0.0,0.0,0.0,69.38,2021-04-01 20:02:00,435.0,64.17,31.4
17371,21.0,20.00,12.78,64.17,1.19,1015.80,0.0,0.0,0.0,0.0,115.31,2021-04-01 21:04:00,435.0,64.17,31.4
17372,22.0,19.72,13.19,66.58,1.08,1015.80,0.0,0.0,0.0,0.0,335.25,2021-04-01 22:04:00,435.0,64.17,31.4
17373,23.0,19.44,13.42,68.83,1.08,1015.80,0.0,0.0,0.0,0.0,335.25,2021-04-01 23:04:00,435.0,64.17,31.4

In [7]:
sdy = Standary()
df = sdy.standa01(dset)

AttributeError: 'Series' object has no attribute 'isoformat'